* {
    &, &:before, &:after {
        box-sizing: border-box;
    }
}

html {
    font-size: 100%;
    height: 100vh;
}

body {
    background: $body-background;
    color: $body-colour;
    font-family: $fontfamily-base;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    text-align: left;
    
    &:before {
        border: {
            top: 5px solid colour('primary');
        }
        content: '';
        display: block;
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

.container {
    background: transparent;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: calc(#{$gutter} / 2) $gutter;
    margin: 0 auto;
    padding: 0 calc(#{$gutter} / 2);

    @include media($break-sm) {
        grid-template-columns: repeat($columns-sm, 1fr);
        width: $break-sm - 40px;
    }

    @include media($break-md) {
        grid-template-columns: repeat($columns-md, 1fr);
        width: $break-md - 40px;
    }

    @include media($break-lg) {
        width: $break-lg - 40px;
    }

    @include media($break-xl) {
        width: $break-xl - 40px;
    }


}