// Create a base style for headings we can then extend easily
%heading {
    font-family: $heading-fontfamily;
    font-weight: $heading-fontweight;
    line-height: $heading-lineheight;
    margin: 0 {
        bottom: 0.75em;
    }

    // Create greater spacing between paragraphs and headings when the former leads
    p + & {
        margin: {
            top: 1em;
        }
    }
}

//Styling for basic heading elements
h1 {
    @extend %heading;
    font-size: $h1-fontsize;
}
h2 {
    @extend %heading;
    font-size: $h2-fontsize;
}
h3 {
    @extend %heading;
    font-size: $h3-fontsize;
}
h4 {
    @extend %heading;
    font-size: $h4-fontsize;
    font-weight: 600;
}
h5 {
    @extend %heading;
    font-size: $h5-fontsize;
    font-weight: 600;
}
h6 {
    @extend %heading;
    font-size: $h6-fontsize;
    font-weight: 600;
}

// Styling for basic paragraph elements
p {
    font-size: $body-fontsize;
    line-height: 1.25;
    margin: 0 {
        bottom: 1em;
    }
}

// Styling for basic list elements
ul, ol {
    font-size: $body-fontsize;
    margin: 0 {
        bottom: 1em;
    };
    padding: 0 {
        left: 1.125em;
    };

    li {
        margin: {
            bottom: 0.5em;
        }
    }
}

dl {
    font-size: $body-fontsize;
    margin: 0 {
        bottom: 1em;
    };
    padding: 0 {
        left: 1.125em;
    };

    dt {
        font-weight: 600;
    }

    dd {
        margin: 0 {
            bottom: 0.5em;
            left: 0;
        }
    }
}
