@import '../../sass/global';
@import '../../sass/variables/button';

.button {
    background: $btn__background;
    border: {
        color: $btn__border-colour;
        style: $btn__border-style;
        width: $btn__border-width;

        top-left-radius: $btn__border-radius-top-left;
        top-right-radius: $btn__border-radius-top-right;
        bottom-right-radius: $btn__border-radius-bottom-right;
        bottom-left-radius: $btn__border-radius-bottom-left;
    };
    color: $btn__font-colour;
    display: inline-block;
    cursor: $btn__cursor;
    font: {
        family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
        size: 0.875rem;
        weight: $btn__font-weight;
    };
    line-height: $btn__line-height;
    height: $btn__height;
    padding: {
        top: $btn__padding-y;
        right: $btn__padding-x;
        bottom: $btn__padding-y;
        left: $btn__padding-x;
    };
    text-decoration: none;
    text-transform: $btn__font-style;
    vertical-align: middle;

    &:hover, &:focus {
        background: $btn__background--hover;
        border-color: $btn__border-colour--hover;
        color: $btn__font-colour--hover;
    }

    &:active {
        background: $btn__background--active;
    }

    &:disabled {
        background: $btn__background--disabled;
        border-color: $btn__border-colour--disabled;
        color: $btn__font-colour--disabled;
        cursor: $btn__cursor--disabled;
    }

    &--outline {
        background: $outline-btn__background;
        color: $outline-btn__font-colour;

        &:hover, &:focus {
            background: $outline-btn__background--hover;
            color: $outline-btn__font-colour--hover;
        }
    
        &:active {
            background: $outline-btn__background--active;
        }
    
        &:disabled {
            background: $outline-btn__background--disabled;
            border-color: $outline-btn__border-colour--disabled;
            color: $outline-btn__font-colour--disabled;
            cursor: $outline-btn__cursor--disabled;
        }
    }

    &--block {
        display: block;
        width: 100%;
    }
}


