// Hero image component

// Functions, mixins, and variables
@import '../../sass/global';

// Styles
.hero {
    background: colour('secondary');
    background-size: cover;
    @include span-columns;
    grid-row: 1;
    height: auto;
    padding: {
        bottom: 56.25%; // Maintain 16:9 dimensions
    }
}
