// Home page

// Functions, mixins, and variables
@import '../../sass/global';

// Styles
.intro {
    justify-content: center;
    display: flex;
    flex-direction: column;
    @include span-columns;
    grid-row: 1;
    height: 80vh;

    p {
        font-size: 1rem;
    }

    span {
        color: colour('primary', 'light');
    }
}
