/* Base Variables
 * Setup variables for base level elements like html, and body
 */

$fontfamily-sansserif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !default;
$fontfamily-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$fontfamily-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace !default;

$fontfamily-base: $fontfamily-sansserif !default;
$fontfamily-code: $fontfamily-mono !default;

$fontsize-base: 1rem !default;
$lineheight-base: 1.25 !default;

$body-background: colour('white');
$body-colour: colour('black');
