/* Base */
$btn__border-colour: colour('primary') !default;
$btn__border-style: solid !default;
$btn__border-width: 2px !default;
$btn__border-radius: 4px !default;
$btn__border-radius-top-left: $btn__border-radius !default;
$btn__border-radius-top-right: $btn__border-radius !default;
$btn__border-radius-bottom-right: $btn__border-radius !default;
$btn__border-radius-bottom-left: $btn__border-radius !default;
$btn__cursor: pointer !default;
$btn__font-size: 1rem !default;
$btn__font-style: uppercase !default;
$btn__font-weight: 700 !default;
$btn__line-height: 1.25 !default;
$btn__padding: 0.75rem !default;
$btn__padding-x: $btn__padding * 1.25 !default;
$btn__padding-y: $btn__padding !default;

$btn__height: ($btn__font-size * $btn__line-height) + ($btn__padding-y * 2) !default; // Gotta come after all the others


/* Default */
$btn__background: colour('primary') !default;
$btn__font-colour: colour('white') !default;

    /* Hover */
    $btn__background--hover: colour('primary', 'tone', '600') !default;
    $btn__border-colour--hover: $btn__background--hover !default;
    $btn__font-colour--hover: colour('white') !default;

    /* Active */
    $btn__background--active: colour('primary', 'tone', '700') !default;
    $btn__border-colour--active: $btn__background--active !default;


    /* Disabled */
    $btn__background--disabled: colour('grey', 'tone', '50') !default;
    $btn__border-colour--disabled: $btn__background--disabled !default;
    $btn__cursor--disabled: not-allowed !default;
    $btn__font-colour--disabled: colour('grey', 'tone', '200') !default;


/* Outline */
$outline-btn__background: transparent !default;
$outline-btn__font-colour: colour('primary') !default;

    /* Hover */
    $outline-btn__background--hover: colour('primary', 'alpha', '20') !default;
    $outline-btn__font-colour--hover: $btn__background--hover !default;

    /* Active */
    $outline-btn__background--active: colour('primary', 'alpha', '40') !default;

    /* Disabled */
    $outline-btn__background--disabled: colour('grey', 'tone', '50') !default;
    $outline-btn__border-colour--disabled: colour('grey', 'tone', '200') !default;
    $outline-btn__cursor--disabled: not-allowed !default;
    $outline-btn__font-colour--disabled: colour('grey', 'tone', '200') !default;
