/* Colours
 * Theme colours and generated palettes
 */

 $primary: #2196F3;
 $secondary: complement($primary);

 $white: #FFFFFF;
 $grey: #767676;
 $black: #000000;


$colour-palettes: (
    'primary': make-palette($primary),
    'secondary': make-palette($secondary),

    'white': make-palette($white),
    'grey': make-palette($grey),
    'black': make-palette($black)
);
