// Header component

// Functions, mixins, and variables
@import '../../sass/global';

// Styles
.header {
    background: $body-background;
    display: flex;
    @include span-columns;
    margin: 0 -1rem;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 5px;
    z-index: 100;
    
    &__brand {
        align-items: center;
        color: colour('black');
        display: flex;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        justify-self: flex-start;
        margin: {
            right: auto;
        }
        width: 40px;

        svg {
            rect {
                fill: transparent;
            }
            path {
                transition: all 0.3s linear;
                fill: colour('white');
            }
        }

        &:hover {
            svg {
                path {
                    fill: colour('primary', 'light');
                }
            }
        }
    }

    &__nav {
        align-self: center;
        justify-self: flex-end;
        margin: {
            left: auto;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;
            }

            a {
                color: colour('white');
                padding: 0.5em 0 0.5em 1em;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.3s linear;

                &:hover {
                    color: colour('primary', 'light');
                }
            }
        }
    }
}
