// Work page

// Functions, mixins, and variables
@import '../../sass/global';

// Styles
.content {
    @include span-columns;
}

.work {
    @include span-columns;

    &__image {
        background: colour('primary','dark');
        border-radius: 2px;
        height: auto;
        overflow: hidden;
        margin: {
            bottom: 1rem;
        }
        padding: {
            bottom: 56.25%; // Maintain 16:9 dimensions
        }
        position: relative;

        img {
            height: auto;
            position: absolute;
            width: 100%;
        }
    }

    &__caption {
        font-style: italic;
        max-width: 100%;
    }
}
