/* Normalise browser styles to make our life easier */
@import-normalize;

/* Global styling */
html {
    font-size: clamp(14px, 10vw, 16px);
}
body {
    background: #333;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;;
    flex: auto;
    flex-direction: column;
    justify-content: center;
}

.title {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;

    .heading {
        font-size: 2rem;
        margin: 0 0 0.125em;
    }

    .subheading {
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.875rem;
        margin: 0;
    }
}
