// Post component

// Functions, mixins, and variables
@import '../../sass/global';

// Styles
.post {
    @include span-columns;
    margin: {
        bottom: 2rem;
    }

    @include media($break-md) {
        grid-column: span $columns-md / 2;
    }
}

.thumbnail {
    background: colour('grey', 'tone', '200');
    margin: {
        bottom: 1rem;
    }
    padding: {
        bottom: 56.25%;
    }
    position: relative;
    width: 100%;

    &__image {
        background: colour('primary');
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}
