/* Normalise browser styles to make our life easier */
@import-normalize;

/* Global styling */
html, body {
    height: 100%;
}

body {
    background:#FFFFFF;
    color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}
