/* Normalise browser styles to make our life easier */
@import-normalize;

/* Import font files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');

/* Global styling */
html {
    height: 100%;
}

body {
    background: #050A0B url('./App/imgs/gradient--dark.png') bottom repeat-x;
    color: #DAF2F3;
    display: flex;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem;
    width: 100vw;
    
    @media (min-width: 960px) {
        grid-gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 2rem;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;

    h1 {
        font-weight: 500;
        font-size: 2.5rem;
        margin: 0 0 0.25em;
        padding: 0;

        @media (min-width: 960px) {
            font-size: 4rem;
        }
        
    }
    
    p {
        font-size: 1.05rem;
        margin: 0;

        @media (min-width: 960px) {
            font-size: 1.7rem;
        }
    }
}
